* {
    box-sizing: border-box;
}
  
 a{
    text-decoration-line: none;
}
  
 body {
    font-family: 'Poppins',
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

p{
    font-size:16px;
    padding: 0 2%;
}

section {
    min-height: 150px;
    padding: 6% 0;
    border: 2px solid black;
}

.col{
    width:100%;
}

  /* NAVIGATION */
  nav {
    position: fixed;
    height:50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1% 0;
    background-color: rgba(161, 128, 128, 0.308);
  }

.nav-btn{
    width: 200px;
    font-size:20px;
}

  .anchor-links{
    display:flex;
    margin-top:0;
    float:right;
    list-style-type:none;
}

  li{
      margin: 0 10px;
  }
 
  /*Header*/
  header{
      background-image: url('./public/images/profile/hero-img.jpg');
      background-repeat: none;
      background-size: cover;
      background-position: center top;
      padding: 12% 0;
  }

  .header-info{
      font-family: 'Roboto', sans-serif;
      background-color:rgba(251,251,251,.5);
      display:flex;
      flex-direction:column;
      margin:0 auto;
      max-width: 600px;
      border-radius:20px;

  }

/* ABOUT ME */
#about{
    background-color:rgba(183,211,210,.5)
}
.profile-pic{
    margin-block-start:  1em;
}

.bio{
    padding: 0 40px;
    margin: 0 auto;
    max-width:800px;
    display:flex;
    justify-content:space-evenly;
}

.bio-text{
      margin:5px;
      padding: 0;
}

/* PROJECTS */
#projects{
    background-color:rgba(214, 214, 214, 0.568)
}
.my-projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.hungry-hunter{
    margin-left:2%;
    margin-right:2%;
}
.app-image{
    max-height:500px;
    max-width:400px;
}
  
.tech-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    max-width: 600px;
    margin: 0 auto;
    background-color:white;
    border:2px black;
}

.tech{
    max-height:50px;
}

.description{
    max-width:600px;
    margin:0 auto 10px auto;
    min-height:120px;
}

.links{
    margin: 50px;
    display:flex;
    justify-content: center;
    
}
.link{
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  border-radius:20px;
  margin: 20px;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  background-color: #ce0606;
}

.link:active {
  box-shadow: none;
  top: 5px;
}


/* CONTACT */
  footer {
    padding: 1% 0;
    background-color: #aaa;
    font-family: 'Roboto', sans-serif;
}
.contact-icon{
    font-size:-webkit-xxx-large;
}
.resume{
    margin: 20px auto;
    font-size:1.6em;
    text-transform:uppercase;
}






@media (max-width:760px){
    h1{
        font-size: 1em;
    }
    p{
        font-size:.6em;
        margin: 20px;
    }
    .bio{
        display:flex;
        justify-content:space-evenly;
    }
    
    .profile-pic{
        max-width:250px;
    }
    .col-4{
        width:100%;
    }
    .app-image{
        max-width:275px;
    }
    
}

@media (max-width:600px){
    h1{
        font-size: 1em;
    }
    p{
        font-size:.6em;
        margin: 20px;
    }
    .bio{
        display:flex;
        justify-content:space-evenly;
        flex-wrap:wrap;
    }
      
.nav-btn{
    width:80px;
    font-size:14px;
}

    
    .profile-pic{
        max-width:200px;
    }
    .col-4{
        width:100%;
    }
    .app-image{
        max-width:275px;
    }
    li{
       font-size:.8em;
    }
   
    .tech-wrapper{
        max-width:300px;
    }
    .tech{
        max-height: 40px;
    }
    .description{
        max-width:300px;
    }

    .link{
        font-size:.8em;
        margin: 5px; 
    }
    
}

