* {
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
  
 a{
    text-decoration-line: none;
}
 
h1{
    font-size:3em;
}
h2{
    font-size:2em;
}
h3{
    font-size:1.5em;
}

 body {
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

.bio-text{
    font-size:26px;
    padding: 0 2%;
    margin-top:50px
}

section {
    min-height: 150px;
    padding: 6% 0;
    border: 2px solid black;
}

.col{
    width:100%;
}

  /* NAVIGATION */
  nav {
    position: fixed;
    height:50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1% 0;
    background-color: rgba(161, 128, 128, 0.308);
  }

.nav-btn{
    width: 200px;
    font-size:20px;
    margin-right:5px;
 
    box-shadow: 0 3px 0 white;
    background-color:aliceblue;

}
.nav-btn:hover{
    background-color:darkcyan;
}
  .anchor-btns{
    display:flex;
    margin-top:0;
    justify-content:flex-end;
    list-style-type:none;
}

  li{
      margin: 0 10px;
  }
 
  /*Header*/
  header{
      background-image: url('./public/images/profile/hero-img.jpg');
      background-repeat: none;
      background-size: cover;
      background-position: center top;
      padding: 12% 0;
      background-attachment:fixed;
  }

  .header-info{
      background-color:rgba(251,251,251,.5);
      display:flex;
      flex-direction:column;
      margin:0 auto;
      max-width: 600px;
      border-radius:20px;

  }

/* ABOUT ME */
#about{
   background-color: #9eadf3;
   color:black;

}
.profile-pic{
    margin-block-start:  1em;
    max-width:500px;
}

.bio{
    padding: 0 40px;
    margin: 0 auto;
    max-width:1600px;
    display:flex;
    justify-content:space-evenly;
}


/* PROJECTS */
#projects{
    color:black;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgb(48, 61, 235) 0%, #74ebd5 50%, #ACB6E5 30%);
}
.app-info{
    max-height:500px;
}
.my-projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
  
}

.hungry-hunter, .bandaide, .lunchery{
    background: rgba(255,255,255,.5);
    min-width: 800px;
}


.app-image{
    max-height:500px;
}
  
.tech-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    max-width: 600px;
    margin: 0 auto;
    background-color:white;
    border:2px black;
}

.tech{
    max-height:50px;
}

.description{
    max-width:600px;
    margin:0 auto 10px auto;
    min-height:150px;
}

.links{
    margin: 50px;
    display:flex;
    justify-content: center;
    
}
.link{
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  border-radius:20px;
  margin: 115px 35px 0;
  color: black;
  text-shadow: 0 1px 0 white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  background-color: #ce0606;
}

.link:active {
  box-shadow: none;
  top: 5px;
}


/* CONTACT */
#contact{
    color:black;
    background-color:rgb(222,229,244);
    height:700px;
}
.contact-icon{
    font-size:-webkit-xxx-large;
}
.contact-links{
  margin:2px;  
}

.contact-link:hover{

    font-size:2em;
    text-transform: full-width;
    transition-duration:.40s;
}
.resume{
    margin: 20px auto;
    font-size:1.6em;
}

.resume:hover{
    font-size:2em;
    text-transform: full-width;
    transition-duration:.40s;
}


footer {
    padding: 1% 0;
}

@media (max-width:1200px){
    .bio-text{
        font-size:18px;
        margin-top:0;
    }
    .profile-pic{
        max-width:400px;
    }
    
    .bio{
        max-width:800px;
        
    }
}



@media (max-width:760px){
    h1{
        font-size: 2em;
    }
    h2{ 
        font-size:1.5em;
    }
    h3{
        font-size:1em;
    }
    p{
        font-size:.6em;
        margin: 20px;
    }
    .bio{
        display:flex;
        justify-content:space-evenly;
    }
    .description{
        min-height: 0
    }
    .link{
        margin: 50px 35px 0;
    }
    .profile-pic{
        max-width:300px;
    }
    .col-4{
        width:100%;
    }
    .app-image{
        max-width:500px;
    }
    .hungry-hunter, .bandaide, .lunchery{
        min-width: 600px;
    }
}

@media (max-width:680px){
    h1,h2,h3{
        font-size:1em;
    }
    p{
        font-size:.6em;
        margin: 20px;
    }
    .bio{
        display:flex;
        justify-content:space-evenly;
        flex-wrap:wrap;
    }
      
    .nav-btn{
    width:80px;
    font-size:14px;
    }

    .profile-pic{
        max-width:200px;
    }
    .col-4{
        width:100%;
    }
    .app-image{
        max-width: 400px;
    }
    li{
       font-size:.8em;
    }
   
    .tech-wrapper{
        max-width:300px;
    }
    .tech{
        max-height: 40px;
    }
    .description{
        max-width:300px;
    }

    .link{
        font-size:.8em;
        margin: 5px; 
    }

    .hungry-hunter, .bandaide, .lunchery{
        min-width: 0;
    }
    
}

@media (max-width:500px){
    .app-image{
        max-width: 275px;
    }
}

